*{
    margin: 0;
    padding: 0;
}
.banner {background:url("..//womanstanding.jpg"); background-size: cover;background-position:center;width: 100%;height: 250px;display: flex;}
.bannerimg {display: flex;margin-bottom: auto;width: 200px;border-radius: 50%;}
#name-and-image{
    margin-top: -100px;
    display: flex;
    align-items: center;
    margin-left: auto;
}
#profilePic{
    background: url("..//bart.png") no-repeat center center/cover;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: 10px;
}
.name{
    align-self: center;
    font-family: sans-serif;
    font-size: 48px;text-shadow: 2px 2px black;
    color: white;
    margin-bottom: 30px;
    margin-left: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color:transparent;
}
.track_img a img {
    width: 37px;
    height: 42px;
}
.fa, .far, .fas {
    font-size: 25px;
    color: black;
}
.tracks {
    border-bottom: 1px solid silver;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 55px;
}
.tracks:hover {
    background: #f9f9f9;
}
.track_id {
    font-size: 20px;
    padding-right: 10px;
}
.track_btn{
    width: 5%
}
.track_img {
    width: 10%;
    padding-left: 8px;
    width: 37px;
    height: 42px;
    margin-right: 10px;
}
.track_detail{
    width: 45%;
    padding-left: 10px;
}
.track_detail1{
    width: 35%;
    padding-left: 5px;
}
.track_detail2{
    width: 30%;
    padding-left: 5px;
}
.track_detail span{
    margin-top: -20px;
}
.track_count{
    width: 240px;
    position: relative;
}
.chartlist-count-bar-slug {
    position: absolute;
    left: 0;
    top: 15px;
    height: 56%;
    min-width: 1px;
    background-color: #fbe9e9;
    padding-top: 7px;
    padding-left: 5px;
}
.heading p{
    font-size: 25px;
    padding-left: 10px;
}
.margin-top{
    margin-top: 15px;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.row{margin-right:-15px;margin-left:-15px}
.heartlove{
    background: url("../hearts/love.png") no-repeat center center/cover;
}
.heartunolve{
    background: url("../hearts/unlove.png")no-repeat center center/cover;
}
.heartlove,.heartunolve{
    cursor: pointer;
    width: 24px;
    height: 24px;
}
#together{
    display: flex;
    width: 100%;
    padding-top: -10px;
}
.li-container{
    display: flex;
    padding-left: 50px;
}
.inside-li-right, .inside-li-left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.FlexContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 29.07px 96.9px;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 50%;
    height: 40%;
    overflow: auto;
    flex-direction: row;
    flex-flow: row wrap;
}
.FlexContainer div {
    width: 242.25px;
    height: 242.25px;
    margin: 0px;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
img {
    position: relative;
    filter: grayscale(50%) brightness(70%);
    width: 242.25px;
    height: 242.25px;
}
.imageHead {
    position: absolute;
    color: white;
    z-index: 1;
    margin-top: -77.52px;
    margin-left: 19.38px;
    font-size: larger;
}
.imageText {
    position: absolute;
    color: white;
    z-index: 1;
    margin-top: -48.45px;
    margin-left: 19.38px;
    font-size: small;
}
.commentboxstlye
{
    width: 350px;
    padding-left: 70px;
    margin-top: 600px;
    background-color: grey;
    margin-left: 100px;
}
.commentbox
{
    padding-left: 31px;
    widows: 100px;
    color: white;
}
input[type=text], select, textarea {
    
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}
.container {
    border-radius: 5px;
    padding: 20px;
}
  
